*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe6e6;
    font-family: 'Arial', sans-serif;
}   

.navbar {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #ffcccc;
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    margin: 10px auto; 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header {
    font-size: 26px;
    text-align: center;
    margin: 20px 0;
    color: #ff6666;
    text-shadow: 2px 2px 4px #ff9999;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container div {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ff4d4d;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.main-container div:hover {
    transform: scale(1.1);
    background-color: #ff1a1a;
}